<link rel="stylesheet" href="~/css/StyleSheet.css" />
<h1>@ViewData["Title"]</h1>

<h1>Sản Phẩm</h1>

<div class="box">
    <div class="sanpham">
        <img src="https://cdn.tgdd.vn/Products/Images/1984/121557/philips-hd2103-66-600x600-1-600x600.jpg" />
        <p class="tensanpham">Nồi Áp Suất</p>
    </div>
    <div class="sanpham">
        <img src="https://cdn.tgdd.vn/Products/Images/2403/203358/chao-nhom-chong-dinh-day-tu-phu-van-da-dmx-cdd-26c-17-600x600.jpg" />
        <p class="tensanpham">Chảo Chống Dính</p>
    </div>
    <div class="sanpham">
        <img src="https://cdn.tgdd.vn/Products/Images/1983/80705/sunhouse-shb3365.jpg" />
        <p class="tensanpham">Bếp Ga</p>
    </div>
    <div class="sanpham">
        <img src="https://cdn.tgdd.vn/Products/Images/1985/214715/214715-600x600.jpg" />
        <p class="tensanpham">Máy Xay Sinh Tố</p>
    </div>
    <div class="sanpham">
        <img src="https://cdn.tgdd.vn/Products/Images/7684/235612/delonghi-icm152101-3-300x300.jpg" />
        <p class="tensanpham">Máy Pha Cà Phê</p>
    </div>
    <div class="sanpham">
        <img src="https://cdn.tgdd.vn/Products/Images/2062/226520/kangaroo-kg1b6-18-600x600.jpg" />
        <p class="tensanpham">Máy Ép Trái Cây</p>
    </div>
    <div class="sanpham">
        <img src="https://cdn.tgdd.vn/Products/Images/1987/69080/sharp-r-205vn-s-20-lit-thumb-300x300.jpg" />
        <p class="tensanpham">Lò Vi Sóng</p>
    </div>
    <div class="sanpham">
        <img src="https://cdn.tgdd.vn/Products/Images/1989/210263/binh-dun-sieu-toc-delites-st18s05-210263.jpg" />
        <p class="tensanpham">Bình Đun Nước</p>
    </div>
    <div class="sanpham">
        <img src="https://cdn.tgdd.vn/Products/Images/1922/152969/delites-ncg1805-thumb-300x300.jpg" />
        <p class="tensanpham">Nồi Cơm Điện</p>
    </div>
</div>
